{% extends 'main-layout.html' %}
    {% load static %} 
{% block content %}
    <!-- breadcrumb -->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-primary text-white-all">
                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-tachometer-alt"></i>Acceuil</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#"><i class="far fa-file"></i>Plagiat de 02 Documents</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <h1></h1>
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
                <div class="card-header">
                     <h4>EKobo et ferdinand</h4>
                </div>
            <div class="card-body">
                <p>
                    -Plagiat entre 2 documents (PHP,java,Doc,PDF,js et autre)
                    Ici vous allez comparer 02 document  et retouner un rapport en PDF et un pourcentage de similitude
                </p>
            </div>

          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <h1>Choose two files to compare or enter contents to compare!</h1>
            <div class="card">
                <div class="card-header">
                    <h5>Charger les fichiers</h5>
                </div>
                    
                <div class="card-body" >
                    <div class="tab-pane fade show active" id="file-input-dc-2" role="tabpanel" aria-labelledby="file-tab-3">
                        <form id="form2-ws" action="/twofilecompare1/" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" class="fileupload" id="fileupload" name="docfile1" required="True">
                            <input type="file" class="fileupload" id="fileupload" name="docfile2" required="True">
                        </form>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <button type="submit" form="form2-ws" id="submit-button-2" class="btn submit-button-2"><h4>Compare The Files</h4></button>
                </div>
            </div>
            
            
            <ul style="text-align: center;margin-left: 450px;">
                <li class="output-per" style="list-style:none">{{ result }}%</li>
            </ul>

        </div>
        </div>
      </div>
{% endblock %}